/* using google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #efebe9;
}

.main-section{
    background-color: white;
    min-height: 100vh;
}


#spinner{
    display: none;
}

#details-panel{
    display: none;
}
#no-data-warning{
    display: none;
}

#horizontal-bar{
    display: none;
}
#show-more{
    display: none;
}
.display-card{
    background-color: white;
    transform: scale(1);
    transition: 0.3s;
}
.display-card:hover {
    transform: scale(1.02);
}